body {
  width: 100%;
  // padding: $spacer * 2 $spacer * 8;
}
header {
  position: relative;
}
.header {
  
  -webkit-box-shadow: 0px 7px 17px 7px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 7px 17px 7px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 7px 17px 7px rgba(0, 0, 0, 0.26);
  padding: $spacer * 4 $spacer * 8;
  @include row($spacer, space-around, center);
  width: 100%;

  background-color: white;
  position: fixed;
  > .nav-bar {
    width: 50vw;
    > .nav-list {
      @include row($spacer, space-between, center);
      > li > a {
        padding-bottom: 3px;
        position: relative;
        color: $secondary_color;
        font-weight: 400;
        font-size: 20px;
        &::after {
          content: "";
          display: block;
          width: calc(100% - 6px);
          height: 2px;

          background-color: $primary_color;
          position: absolute;
          bottom: 0;
          right: 3px;
          left: 3px;
          transform: scaleX(0);
          transition: transform 0.4s ease-in-out;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
  > .header-btn a {
    font-size: 20px;
    font-weight: 400;
    border: 2px solid $primary_color;
    padding: 20px;
    border-radius: 2px 30px;
    color: $primary_color;
  }

  > .toggle-btn-label {
    z-index: 100;
    input[type="checkbox"] {
      display: none;
      input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px);
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin: bottom;
        width: 50%;
        transform: translate(30px, -11px) rotatez(45deg);
      }
    }
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;

    > span {
      background: $primary_color;
      border-radius: 10px;
      height: 7px;
      margin: 7px 0;
      transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    > span:nth-of-type(1) {
      width: 50%;
    }

    > span:nth-of-type(2) {
      transition: all 0.4s;
      width: 100%;
    }

    > span:nth-of-type(3) {
      width: 75%;
    }
  }
  #toggle-btn {
    display: none;
  }
}
.hero-wrapper {
  padding: 0 $spacer * 8;
  min-height: 900px;
  background-position: center center;

  background-image: url(../assets/bg.jpg);
  object-fit: cover;
  @include row($spacer * 3, center, center);
  > img {
    width: 270px;
    max-height: 250px;
    border-radius: 50%;
    object-position: center;
  }
  .hero-explained {
    text-align: left;
    line-height: 45px;
    > p {
      padding: 38px;
      background: rgba(255, 255, 255, 0.11);
      border-radius: 77px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(61.5px);
      -webkit-backdrop-filter: blur(2.5px);
      border: 1px solid rgba(255, 255, 255, 0.05);

      font-size: 35px;
      color: $third_color;
      > span {
        color: $main_text_color;
        font-weight: 600;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .header {
    > .toggle-btn-label {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding-right: $spacer * 3;
    // max-width: 90vw;
    > h2 {
      width: 400px;
      margin-right: auto;
    }
    .toggle-btn {
      position: absolute;
      top: $spacer * 2;
      right: $spacer * 3;
    }
    .header-btn {
      display: none;
    }
    > .nav-bar {
      position: fixed;
      width: 300px;
      height: 100vh;
      background-color: $background_color;
      top: 0;
      right: -400px;
      bottom: 0;
      z-index: 99;
      transition: right 0.4s;
      -webkit-box-shadow: -16px 2px 26px -10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -16px 2px 26px -10px rgba(0, 0, 0, 0.75);
      box-shadow: -16px 2px 26px -10px rgba(0, 0, 0, 0.75);

      > .nav-list {
        padding-left: 30px;
        @include column($spacer * 9, space-evenly);

        margin-top: 123px;
        > li > a {
          color: $main_text_color;
          font-weight: 600;
        }
      }
    }

    #toggle-btn:checked ~ .nav-bar {
      right: 0;
    }
    #toggle-btn:checked + .toggle-btn-label>span:nth-of-type(1){
      opacity: 0;
    }
    #toggle-btn:checked + .toggle-btn-label>span:nth-of-type(3){
      opacity: 0;
    }
    #toggle-btn:checked + .toggle-btn-label>span:nth-of-type(2){
      width: 50%;
    }
  }
}
@media screen and (max-width: 750px) {
  .hero-wrapper{
    min-height: 100vh;
    @include column($spacer*2 ,center,center);
    >.hero-explained >p{
      font-size: 25px;
    }
  }
}

